<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mean.greentea.dao.ComicMapper">
    <resultMap id="comicMapper" type="com.mean.greentea.entity.Comic"/>
    <select id="getComicListByTypeAndProcess" resultMap="comicMapper">
        SELECT CID, name, author, imgUrl FROM comic
        WHERE comicType LIKE CONCAT('%',#{type},'%') AND states LIKE CONCAT('%',#{process},'%');
    </select>

    <select id="getComicData" resultMap="comicMapper">
        SELECT * FROM comic WHERE CID = #{CID};
    </select>

    <select id="getComicListByRec" resultMap="comicMapper">
        SELECT CID,name,author FROM comic ORDER BY lastUpdate DESC LIMIT 5;
    </select>

    <select id="searchComicData" resultMap="comicMapper">
        SELECT CID, name, author FROM comic
        WHERE name LIKE CONCAT('%',#{searchName},'%') OR author LIKE CONCAT('%',#{searchName},'%');
    </select>

    <update id="putComicData" parameterType="java.util.Map">
        UPDATE comic
            SET
                name = #{comic.name},
                author = #{comic.author},
                episodes = #{comic.episodes},
                lastUpdate = #{comic.lastUpdate},
                viewUrl = #{comic.viewUrl},
                introduction = #{comic.introduction},
                states = #{comic.states}
            WHERE CID = #{comic.cid};
    </update>


</mapper>